.aider*
.env
*.v2
*.vsidx
/GameOfLife.API/obj
/GameOfLife.API3/obj
/GameOfLife.Core/obj
/GameOfLife.Infrastructure/obj
/GameOfLife.Tests/obj
/GameOfLife.Core/bin/Debug/net7.0
/GameOfLife.Tests/bin/Debug
*.suo
/.vs
/.vs/GameOfLife/v17
/.vs/ProjectEvaluation
/.vs/GameOfLife/v17/TestStore/0
/GameOfLife.API/bin/Debug/net7.0
/GameOfLife.Infrastructure/bin/Debug/net7.0
/GameOfLife.Models/bin/Debug/net7.0
/GameOfLife.Models/obj
/.gitignore
/.gitignore
*.db
/.vs/GameOfLife/v17/DocumentLayout.json
/GameOfLife.API/GameOfLife.db-shm
/GameOfLife.API/GameOfLife.db-wal
